footer {
  position: fixed;
  bottom: 10px;
  left: 6px;
}

footer a {
  padding: 1px 3px;
  background: #bbb;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #000;
}