#top-action {
  padding: 15px 20px 15px 35px;
}

#top-action:after {
  display: block;
  content: "";
  clear: both;
}

#left-action {
  float: left;
}

#right-action {
  float: right;
}

#right-action button {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  vertical-align: top;
  background: #fff;
  border: solid 1px #ddd;
  border-radius: 3px;
  color: #2dbe60;
}

#right-action button.active,
#right-action button:hover {
  color: #fff;
  background: #2dbe60;
  border-color: #2dbe60;
}

#right-action button:last-child {
  margin: 0;
}

#btn-share {
  display: none;
}