#top-action { padding: 15px 20px 15px 35px; }
#top-action:after { display: block; content: ""; clear: both; }
#left-action { float: left; }
#right-action { float: right; }
#right-action button {
  margin-right: 5px; width: 30px; height: 30px; vertical-align: top;
  background: #fff; border: solid 1px #ddd; border-radius: 3px; color: #2dbe60;
}
#right-action button.active,
#right-action button:hover {
  color: #fff; background: #2dbe60; border-color: #2dbe60;
}
#right-action button:last-child { margin: 0; }
#btn-share { display: none; }
#note-info {
  display: none; box-sizing: border-box;
  position: fixed; top: 60px; right: 28px;
  padding: 20px 10px 20px 40px; min-width: 340px; max-width: 400px;
  background: #fff; border: solid 1px #a8a8a8; border-radius: 3px;
  box-shadow: 1px 2px 15px rgba(0,0,0,0.2); font-size: 1.15em;
}
#note-info li { line-height: 1.8; }
#note-info li span:first-child { display: inline-block; width: 70px; }
#note-info li span:last-child { margin-left: 10px; }
#note-info .arrow {
  position: absolute; top: -10px; right: 73px;
  display: inline-block; width: 20px; height: 10px;
  background: url(/img/arrow.gif) no-repeat 0 -43px;
}
#note-info.active { display: block; }
